/* SearchBar styles  */
.wrapper {
  background-color: #fff;
  display: flex;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.nested_components {
  flex: 1;
  height: 45px;
  margin: 8px;
  border-radius: 10px;
  background-color:lightgray;
  border:none;
  
}

/* JoB card Styles */
.JobCard_wrapper {
  border: 1px solid #b8b8ba;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 25px;
}
.JobCard_wrapper:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4d64e4;
}

.companyName {
  font-size: 13.5px;
  background-color: #18e1d9;
  padding: 6px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
}
.skillChip {
  margin: 20px;
  padding: 6px;
  font-size: 14.5px;
  border-radius: 5px;
  font-weight: 600;
  background-color: #09090a;
  color: #fff;
}

/* NewJobModal css */
.Skills {
  margin: 5px;
  padding: 6px;
  font-size: 14.5px;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #717174;
  color: #717174;
  cursor: pointer;
}
.Skills:hover {
  background-color: #09090a;
  color: #fff;
}

/*ViewJobModal*/
.info{
  margin:'5px';
}